# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

r_packages:
  - covr
  - goodpractice

after_success:
  - Rscript -e 'library(covr); codecov()'
  - Rscript -e 'Sys.setenv(NOT_CRAN = "true"); goodpractice::gp()'
