# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

r_packages:
  - covr
  - goodpractice

after_success:
  - Rscript -e 'library(covr); codecov()'
  - Rscript -e 'Sys.setenv(NOT_CRAN = "true"); goodpractice::gp()'

before_cache: Rscript -e 'remotes::install_cran("pkgdown")'

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_PAT
  keep-history: true
  local-dir: docs
  on:
    branch: master
